# Impostazioni varie
.vscode
config.ini
# File ausiliari build
build
# Risultato build
dist
# Ambiene virtuale Python e pycache
*venv
*__pycache__*
# Appunti
todo.md
# File temporanei relativi alla compilazione
resources/anteprima*
resources/*.log
# Unit Test separato
test*
anteprima*